* {
    font-family: 'Noto Sans', sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 30vh;
    transition: height 999999s;
    text-align: center;
    min-height: 300px;
    color: #333;
    padding: 1px 0;
}

.hero h1 {
    font-size: 3em;
    line-height: 1;
    padding: 0;
}

.hero p {
    margin: 0;
}

.slogan {
    font-size: 1.3em;
    margin: 0;
}

#docs p {
    margin-top: 0;
}

.hero .content {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

a:not(.navlink):not(.button) {
    color: #333;
    box-shadow: 0 2px rgba(0,0,0,0.2);
    transition: all 0.3s;
}

a:hover:not(.navlink):not(.button) {
    box-shadow: 0 2px #333;
}

section {
    padding: 0 5vw;
}

#docs {
    padding: 80px 5vw 0;
}

#cover {
    text-align: center;
}

.desc-container {
    text-align: center;
}

.card-container > .oneq-card {
    transition: transform 0.2s;
    margin: auto;
}

.oneq-card {
    /* original size: 350x420 */
    --card-size-w: 135px;
    --card-size-y: 210px;

    background-image: url(decks/Claasic/OneQ_Classic_Deck.png);
    background-position: calc(var(--card-x) * var(--card-size-w) * -1) calc(var(--card-y) * var(--card-size-y) * -1);
    background-size: calc(var(--card-size-w) * 14) calc(var(--card-size-y) * 5);
    width: var(--card-size-w);
    height: var(--card-size-y);
}
